body {
  margin: 0;
  font: 16px/1.5 Iowan Old Style,Apple Garamond,Baskerville,Palatino Linotype,Times New Roman,Droid Serif,Times,Source Serif Pro,serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

*, *::before, *::after { box-sizing: border-box; }

.variable {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 0px 26px 0px 26px;
  margin: 10px 0 10px 0;
  --hover-color: #e3e3e3;
}
.variable .title {
  margin: 0 0 2px 0;
  padding: 3px;
  background: #e3e3e3;
  font-size: 14px;
  display: inline-block;
}
.variable .code {
  font-family: menlo,consolas,monaco,monospace;
  font-size: 13px;
  line-height: 1.2;
  margin: 2px 0 0 -14px;
  padding: 0px 0px 0px 10px;
  border-left: 4px solid #eee;
}


.variable .controls {
  position: absolute;
  opacity: 0;
  left: 2px;
  top: 0;
  background: var(--hover-color);
  min-height: 100%;
  padding: 2px 1px;
  border-radius: 10px;
}
.variable:hover .controls, .variable.hidden .controls {
  opacity: 1;
  transition: opacity .5s;
}
.variable.hidden {
  margin: 0;
  padding: 0;
  width: 22px;
}
.variable.hidden .controls {
  background: none;
  left: 20px;
}

.circle-button {
  width: 18px;
  height: 18px;
  padding: 0px;
}
.circle-button::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  background: var(--color);
  border: 1px solid var(--hover-color);
}
.circle-button.off {
  padding: 1px;
}
.circle-button.off::after {
  background: var(--hover-color);
  border-color: var(--color);
  border-width: 2px;
}
.variable.hidden .circle-button.off::after {
  background: none;
}
.circle-button:not(.off):hover::after {
  border-color: var(--color);
}
.circle-button.off:hover::after {
  border-width: 3px;
}
.show-title.circle-button::after { --color: #28f; }
.show-value.circle-button::after { --color: #ea3; }
.show-code.circle-button::after { --color: #aaa; }
.rerun.circle-button::after { --color: #4d4; }

.rerun {
  position: absolute;
  top: -18px;
}

.observablehq h1,
.observablehq h2,
.observablehq h3,
.observablehq h4,
.observablehq h5,
.observablehq h6 {
  margin: 0;
  line-height: 1.15;
  color: #333;
}
.observablehq::after {
  content: '';
  position: absolute;
  width: 6px;
  top: 0;
  bottom: 0;
  background: #888;
  opacity: 0;
  z-index: 1;
}
.observablehq--running::after {
  opacity: .85;
}
.observablehq:not(.observablehq--runing)::after {
  transition: opacity .5s;
}
.observablehq code {
  font-size: 14px;
  line-height: 1.2;
}
.observablehq p code {
  background: #f2f2f2;
  border: 1px solid #aaa;
  padding: 0px 4px;
  color: #555;
}



#messages {
  position: fixed;
  top: -2px;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1;
  border-bottom: 2px solid #ccc;
}
#messages h1 {
  margin: 0;
}
